<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153729009207-bt2fgpcpjqd129b13kfjhbnlr8m23k9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153729009207-bt2fgpcpjqd129b13kfjhbnlr8m23k9i</string>
	<key>API_KEY</key>
	<string>AIzaSyBenVR7-CwUDrhkl8fPNhenltBNQJHCZPc</string>
	<key>GCM_SENDER_ID</key>
	<string>153729009207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.patientApp</string>
	<key>PROJECT_ID</key>
	<string>project-1-7de88</string>
	<key>STORAGE_BUCKET</key>
	<string>project-1-7de88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153729009207:ios:51117c317e39745a7561b2</string>
</dict>
</plist>